<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmartPhoneLINQ.Properties.Settings.SmartPhoneDBConnectionString"
            connectionString="Data Source=MAYTINH;Initial Catalog=SmartPhoneDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>